div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip.map {
    width: 40px;
    height: 20px;
    padding-top: 3px;
}
